@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <img src="~/images/banner1.svg" class="img-fluid" alt="Responsive image">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Mini CRM</h1>
            <p class="lead">ASP.NET MVC Core with Bootstrap</p>
        </div>
    </div>
</div>
