@model  Company;
@{
    ViewData["Title"] = "Edit Company";
}

<div class="container">
    <div class="my-auto" style="height: 20px;"></div>
    <form asp-action="EditCompany" method="post">
        
        @Html.HiddenFor(c => c.Id)

        <div class="form-group">
            <label asp-for="Name">Company Name</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name" value=@Model.Name>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input type="email" class="form-control" asp-for="Email" placeholder="Enter Email" value=@Model.Email>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Web">Email</label>
            <input type="url" class="form-control" asp-for="Web" placeholder="Enter Website" value=@Model.Web>
            <span asp-validation-for="Web" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit Changes</button>
    </form>
</div>